<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <div class="mb-3 row">
        <input type="text" [(ngModel)]="search" name="search" id="search" placeholder="Search anime"
        class="form-control form-control-lg" aria-label="Search" required>
      </div>
    </div>
    <div class="col-2">
      <div class="mb-3 row">
        <button class="btn btn-primary" type="button" (click)="searchAnime()">Search</button>
      </div>
    </div>
    <br>
    <app-result-search></app-result-search>
  </div>
</div>
